.commanditaires {
  margin: 50px auto;

  h4 {
    color: $color-accent-reg;
    text-align: center;
  }

  .liste-commanditaires {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 27px 14px;
    }

  }

}

@media screen and (min-width: $vw-large) {
  .liste-commanditaires {
    margin: auto;

    li {
      margin: 27px 61px !important;
    }
  }
}