.forfait {
  background-color: $neutre-6;
  border: 0.5px solid #949393;
  border-radius: 10px;
  padding: 22px;
  height: 500px;
  position: initial;

  h6 {
    margin: 0;
    color: $neutre-4;
  }

  h4 {
    color: $neutre-3;
    font-weight: 500;
  }

  ul {
    padding: 0 0 0 30px;
    li {
      font-weight: $fw-light;
      list-style-image: url("../images/i_valider.svg");
      margin: 10px 0;
    }
  }
  .btn {
    position: relative;
    bottom: -203px;
  }

}

.forfait-privilege {
  .btn {
    bottom: -133px;
  }
}