.infolettre {


  img {
    display: none;
  }

  .wrap {
    background-color: $neutre-1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 96px;
    border-bottom-left-radius: 100% 50px;
    border-bottom-right-radius: 100% 50px;
  }


  h3 {
    color: $neutre-6;
    font-weight: normal;
  }
  p {
    color: $neutre-6;
  }

  input {
    margin: 72px 0;
    color: $neutre-6;
    width: 254px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #FFFFFF;

    &:hover {
      background: none;
      color: $neutre-6;
      border-color: #FFFFFF;
    }

  }
}

@media screen and (min-width: $vw-large) {
  .infolettre {
    input {
      width: 420px;
    }

    .wrap {
      border-bottom-left-radius: 100% 300px;
      border-bottom-right-radius: 100% 300px;
    }

    img {
      display: flex;
      position: absolute;
      width: 312.69px;
      height: 411.37px;
      z-index: 3;
      top: 2913px;
      right: 0;
    }

    border-radius: 40px;
  }
}