.artistes {
  h3 {
    color: $neutre-1;
    text-align: center;
  }
}



.swiper-slide {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  //transform: translate(-50%, -50%);

  img {
    border-radius: 15px;
    width: auto;

    &:hover {
      backdrop-filter: blur(100px);
    }

  }

  p {
    color: $neutre-2;
    text-transform: uppercase;
    font-family: $ff-normal;
    font-style: $ff-normal;
    font-weight: $fw-regular;
    font-size: $fz-normal;
    line-height: $lh-normal;
    margin: 15px 0;
  }
}