nav {
  height: 55px;
  background: $neutre-6;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  z-index: 30;
  top: 0;

  .btn {
    margin-top: 105px;
  }


  li {
    list-style: none;
    text-align: center;
    margin: 14px 0;
  }

  input {
    width: 290px;
    padding: 8px 8px 8px 40px !important;
  }

}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  li a {
    color: $neutre-1;
    text-decoration: none;
    font-size: 16px;
  }
  .nav-links.open {
    margin: 0;
  }
}

.nav-logo {
  z-index: 30 !important;
  margin: 15px auto;
  display: flex;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.icone-recherche img {
  position: relative;
  width: auto;
  left: 35px;
  top: 5px;
}



  .line {
    width: 30px;
    height: 2px;
    background: $neutre-1;
    margin: 10px 0;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: $neutre-6;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(1px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    margin-top: -1px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    margin-top: -1px;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 1;
  }

  .nav-logo {
    width: 100px;
  }

  nav {
    width: 100vw;
    position: fixed;
    justify-content: center;
    align-items: center;
  }

  // Adaptation pour le format ordinateur
@media screen and (min-width: $vw-large) {
  .nav-links {
    flex-direction: row;
    background: none;
    position: initial;
    height: initial;
    width: initial;

    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    margin-top: -1px;

    ul {
      display: flex;

      li {
        margin: 0 10px;
      }
    }

    input[type=text] {
      display: none;
    }
  }
}