.social-menu {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }
  a {
    display: block;
    margin: 12px;

    &:hover {
      border-bottom: none;
    }
  }
}