// Couleurs du projet
// Couleurs neutres
$neutre-1: #2E3741;
$neutre-2: #3B4653;
$neutre-3: #516071;
$neutre-4: #949393;
$neutre-6: #FFFFFF;
// Couleurs principales
$color-principale: #F9F7F6;
$color-principale-fonce: #EBE9E8;
$color-accent-reg: #FDAB88;
$color-accent-fonce: #E29A7A;
$color-complementaire: #F9BF6C;


// Project colors

$color-text-normal: $neutre-4;

$color-bg-page: $color-principale;
$color-bg-light: $neutre-6;
$color-bg-dark: $neutre-1;

$color-title-light: $neutre-6;
$color-title-dark: $neutre-1;

$color-link: $neutre-4;
$color-link-visited: $color-complementaire;
$color-link-hover: $color-complementaire;
$color-link-active: $color-complementaire;
$color-link-focus: $color-complementaire;


// Forms colors
$base-input-placeholder-color:                  #999 ;
$base-input-color:                              #000 ;
$base-input-background-color:                   #fff ;
$base-input-background-focus-color:             #fff ;
$base-input-border-color:                       #ccc ;
$base-input-border-focus-color:                 #000 ;
$base-select-box-height: 36px;