// Text size
$fz-normal: rem(16);


// Title size

$fz-h1: rem(60);
$fz-h2: rem(55);
$fz-h3: rem(45);
$fz-h4: rem(36);
$fz-h5: rem(16);

// Line height
$lh-extra-thin: 1;
$lh-thin: 1.2;
$lh-normal: 26px;
$lh-medium: 54px;
$lh-large: 63px;
$lh-extra-large: 82px;


// Font family

$ff-normal: 'Signika Negative', sans-serif;
$ff-title: 'Poppins', sans-serif;

// Fonts weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;



