$global-transition: all 300ms ease-in-out;
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}


html {
  scroll-behavior: smooth;
}

p {
  font-weight: $fw-light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  color: $neutre-6 !important;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-family: $ff-title;

  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background-color: $color-accent-reg;
  border-radius: 6px;

  &:hover {
    border-bottom: none;
    background-color: $color-accent-fonce;
    transition: $global-transition;
  }
}

::selection {
  background-color: $color-accent-reg;
  color: $neutre-6;
}

.petit-texte {
  font-size: rem(13);
}