h1, h2, h3, h4{
  font-family: $ff-title;
  font-weight: $fw-bold;
}

h1{
  font-size: $fz-h1;
  text-transform: uppercase;
  line-height: $lh-large;
}

h2{
  font-size: $fz-h2;
  text-transform: uppercase;
  line-height: $lh-extra-large;
}

h3{
  font-size: $fz-h3;
  line-height: $lh-large;
}

h4{
  font-size: $fz-h4;
  line-height: $lh-medium;
}

h5 {
  font-family: $ff-title;
  font-weight: 500;
  font-size: rem(36);
  line-height: rem(54);
}

h6 {
  color: $neutre-2;
  text-transform: uppercase;
  font-family: $ff-normal;
  font-style: $ff-normal;
  font-weight: $fw-regular;
  font-size: $fz-normal;
  line-height: $lh-normal;
  margin: 15px 0;
}