h1, h2, h3, h4{
  font-family: $ff-title;
  font-weight: $fw-bold;
}

h1{
  font-size: $fz-h1;
  text-transform: uppercase;
  line-height: $lh-large;
}

h2{
  font-size: $fz-h2;
  text-transform: uppercase;
  line-height: $lh-extra-large;
}

h3{
  font-size: $fz-h3;
  line-height: $lh-large;
}

h4{
  font-size: $fz-h4;
  line-height: $lh-medium;
}

h5 {
  font-size: $fz-h5;
  line-height: $lh-normal;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-family: $ff-title;
  font-weight: $fw-regular;
}